---
import MouseImage from "public/mouse.svg"
import ChevronDownImage from "public/chevron-down.svg"
import {Image} from "astro:assets"
---

<article>
  <div class="wrapper">
    <div class="title">
      <h1>Kenzo Wada</h1>
      <div class="description">
        <span class="beer">Beer Junkie</span><span> Modern Frontend Enginner</span>
      </div>
    </div>
    <div class={'scroll'}>
      <span >scroll down</span>
      <Image class="icon" src={MouseImage} height={36} width={36} alt="mouse" loading="eager" />
      <Image class="icon" src={ChevronDownImage} height={24} width={24} alt="down" loading="eager" />
    </div>
  </div>
</article>
<style lang="scss">
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10rem);
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
  }
  h1 {
    font-size: 10rem;
    margin: 0;
    color: #202124
  }
  .description {
    font-size: 5rem;
    font-weight: bold;
    color: #2021244d;
  }
  .beer {
    background-image: url(/underline.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 2rem;
  }
  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    .icon {
      animation: floating-y 1s ease infinite alternate-reverse;
    }
    span {
      margin: 0.5rem 0;
    }
  }
  
  @keyframes floating-y {
    0% {
      transform: translateY(-10%)
    }
    100% {
      transform: translateY(10%)
    }
  }
</style>
