---
import Button from "../common/Button.astro"
import MenuIcon from "../icons/menu.astro"
---

<header>
  <a>
    kenzo
  </a>
  <Button>
    <MenuIcon size={24}/>
  </Button>
</header>
<style>
  header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  a {
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
  }
</style>
