---
import Button from "@components/common/Button.astro"
import MenuIcon from "@components/icons/menu.astro"
---

<header>
  <Button>
    <MenuIcon size={24}/>
  </Button>
</header>
<style lang="scss">
  header {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
  }
</style>
