---
const {title} = Astro.props
---

<article>
  <div class="title">
    <h1>{title}</h1>
  </div>
  <div class="children">
    <slot />
  </div>
</article>
<style lang="scss">
  article {
    border: 1px solid #202124;
    background-color: #fef9fbb3;
    border-radius: 12px;
  }
  h1 {
    border-top-left-radius: 12px;
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    font-size: 1.5em;
    color: #fef9fb;
    background-color: #202124;
  }
  .children {
    padding: 1em;
  }
  .title {
    border-bottom: 1px solid #202124
  }
</style>
